:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  background-color: #FFF7ED;
  padding: 10px;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 1.584rem;
  font-weight: 900;
  color: #000;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
}

.nav-item {
  font-size: 1rem;
  font-weight: 600;
  color: #4D4D4D;
  text-decoration: none;
  padding: 0.5em 0.5em;
  border-radius: 8px;
  transition: background-color 0.25s;
  outline: none;
}

.nav-item:hover {
  /* make a darker shade of the color; */
  color: #000;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  background-image: url('./assets/heroBG.jpg');
  background-size: cover;
  background-position: left right;
  background-repeat: no-repeat;
  height: calc(100vh - 124px);
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero h3 {
  font-size: clamp(2rem, 5vw, 3.25rem);
  line-height: 42px;
  color: #fff;
}

.hero p {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;

}

.hero-content {
  z-index: 1;
}

.hero button {
  margin-top: 1em;
  background: #FF8C38;
  color: #fff;
  border: none;
  outline: none;
}

.hero button:hover {
  background: #FF6F05;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #FFF7ED;
  text-align: center;
  min-height: 100vh;
}

.about img {
  height: 480px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.about-content {
  padding: 1em 2em;
}

.about-content h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 700;
  color: #161616;
}

.about-content p {
  font-size: clamp(1rem, 3vw, 1.25rem);
  line-height: 1.5;
  color: #4D4D4D;
  margin: 1em 0;
  white-space: pre-line;
  word-wrap: break-word;
}

.explore {
  margin: 0 2em 2em 2em;
  padding: 2em;
  border-radius: 8px;
  background-color: #FFCC8D;
  display: flex;
  flex-direction: column;
  align-items: start;

}

.explore h2 {
  text-align: start;
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: 700;
  color: #161616;
}

.explore p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.5;
  color: #4D4D4D;
  margin: 1em 0;
}

.explore button {
  margin-top: 1em;
  background: #161616;
  color: #fff;
  border: none;
  outline: none;
}

.explore button:hover {
  background: #000;
}